*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background-image: linear-gradient(to bottom right, #9c88ff, #192a56);
	overflow: auto;
}

header{
	height: 300vh;
	background-size: cover;
	position: relative;
	align-items: center;
	background-position: center;
	animation: slide 20s infinite;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.logo img{
	float: left;
	width:150px;
	height: auto;
}

.first{
	width: 1400px;
	height: 50px;
	margin: auto;
	margin-bottom: 50px;
}

.title{
	margin: auto;
	margin-top: 70px;
	color: white;
	margin-bottom: 20px;
	cursor: context-menu;
}

.title h1{
	text-align: center;
	font-size: 50px;
}

.list{
	margin: auto;
	width: 800px;
	margin-left: 40px;
	margin-top: 50px;
	opacity: 0.8;
}

.list dl{
	cursor: context-menu;
	border: 3px double #ccc;
	padding: 0.5em;
	color: white;
}


.list dt{
	text-decoration: underline;
	font-weight: bold;
	font-size: 28px;
}

.list dd{
	margin: 0;
	padding: 0 0 0.5em 0;
	font-size: 20px;
}

.list dd:hover{
	background: white;
	color: black;
	font-size: 22px;
}

.list dt:hover{
	background: white;
	color: black;
	font-size: 34px;
}


.heading{
	margin-bottom: 5px;
	margin-top: 40px;
	margin-left: 40px;
	color: white;
	cursor: context-menu;
}

.heading h2{
	font-size: 40px;
}

.music{
	width: 1280px;
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.music .box{
	position: relative;
	width: 300px;
	height: 300px;
	background: #130f40;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.music .box .imgBox{
	position: relative;
	overflow: hidden;
}

.music .box .imgBox img{
	max-width: 100%;
	max-height: 80%;
	transition: transform 2s;
	
}

.music .box:hover .imgBox img{
	transform: scale(1.2);
	
}

.music .box .details{
	position: absolute;
	max-width: 100%;
	max-height: 70%;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0, 0, 0,0.8);
	transform: scaleY(0);
	transition: transform .5s;
}

.music .box:hover .details{
	transform: scaleY(1);
}

.music .box .details .content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	justify-content: center;
	padding: 15px;
	color: #fff;
}

.music .box .details .content h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #f6e58d;
}

.music .box .details .content p{
	margin: 10px 0 0;
	padding: 0;
	
}

.music .box .player{
	width: 100%;
	margin-top: 25px; 
	align-items: center;
	margin-left: 30px;
}

.music .box .player audio{
	width: 80%;
  	box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  	border-radius: 90px;
  	transform: scale(1.05);
}


footer{
	position: relative;
	bottom: 0px;
	color: #d9d9d9;
	width: 100%;
	background: #111;
}

.main-content{
	display: flex;
}

.main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content{
	margin: 20px 0 0 0;
}

.left .content p{
	text-align: justify;
}

.left .content .social{
margin: 20px 0 0 0;
}

.left .content .social a{
padding: 0 2px;
}

.left .content .social a span{
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s
}

.left .content .social a span:hover{
	background: #f12020;
}

.center .content.fas{
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.center .content .fas:hover{
	background: #f12020;	
}

.center .content .text{
	font-size: 1.0625rem;
	font-weight: 500;
	color: #d9d9d9;
	padding-left: 10px;
}

.center .content .phone{
	margin: 10px 0;
	color: #d9d9d9;
}

.right form .text{
	margin-top: 1.0625rem;
	margin-bottom: 2px;
	color: #d9d9d9;
}

.right form .msg{
	margin-top: 10px;
	color: #d9d9d9;
}

.right form input, .right form textarea{
	width: 100%;
	font-family: Century Gothic;
	font-size: 1.0625rem;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
	color: #d9d9d9;
}

.right form input:focus,
.right form textarea:focus{
outline-color: #3498db;
}

.right form input{
	height: 35px;
}

.right form .butn{
	margin-top: 10px;
}

.right form .butn button{
	height: 40px;
	width:100%;
	border:none;
	outline: none;
	background: #f12020;
	font-size: 1.0625rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: .3s;
	color: #d9d9d9;
}

.right form .butn button:hover{
	background: #000;
	color: #d9d9d9;
}

.bottom center{
	padding: 5px;
	font-size: 0.9375rem;
	background: #151515;	
}

.bottom center span{
	color: #fff;	
}