*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: linear-gradient(to right, #ffeaa7,#e84393);
	padding: 20px 0 28px 0;
  	margin: 0;
  	color: #333;
  	height: 170vh;
}

.first ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

.first ul li{
	display: inline-block;
}

.first ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.first ul li a:hover{
	background-color: #fff;
	color: #000;
}

.first{
	max-width: 1200px;
	margin-top: 10px;
	margin: auto;
}

.title{
	position: absolute;
	top:20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h1{
	color: #fff;
	font-size: 40px;
}

.logo img{
	float: left;
	width:120px;
	height: auto;
	border-radius: 10px;
	top: 2px;
}

#app{
	margin-top:200px;
}

#app img {
  max-width: 150px;
  height: 150px;
}

.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 2.6rem;
}

.sport {
  max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.sport h4 {
  margin: 0 0 6px 0;
}

.pro-photo {
  float: left;
  width: 40%;
  margin-right: 15px;
}

.pro-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.type {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}

.specs-list {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: .85rem;
  line-height: 1.5;
}

.footer {
  font-size: .7rem;
  color: black;
  text-align: center;
  margin: 0;
}

footer{
	position: relative;
	bottom: 0px;
	color: #d9d9d9;
	width: 100%;
	background: #111;
}

.main-content{
	display: flex;
}

.main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content{
	margin: 20px 0 0 0;
}

.left .content p{
	text-align: justify;
}

.left .content .social{
margin: 20px 0 0 0;
}

.left .content .social a{
padding: 0 2px;
}

.left .content .social a span{
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s
}

.left .content .social a span:hover{
	background: #f12020;
}

.center .content.fas{
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.center .content .fas:hover{
	background: #f12020;	
}

.center .content .text{
	font-size: 1.0625rem;
	font-weight: 500;
	color: #d9d9d9;
	padding-left: 10px;
}

.center .content .phone{
	margin: 10px 0;
	color: #d9d9d9;
}

.right form .text{
	margin-top: 1.0625rem;
	margin-bottom: 2px;
	color: #d9d9d9;
}

.right form .msg{
	margin-top: 10px;
	color: #d9d9d9;
}

.right form input, .right form textarea{
	width: 100%;
	font-family: Century Gothic;
	font-size: 1.0625rem;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
	color: #d9d9d9;
}

.right form input:focus,
.right form textarea:focus{
outline-color: #3498db;
}

.right form input{
	height: 35px;
}

.right form .butn{
	margin-top: 10px;
}

.right form .butn button{
	height: 40px;
	width:100%;
	border:none;
	outline: none;
	background: #f12020;
	font-size: 1.0625rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: .3s;
	color: #d9d9d9;
}

.right form .butn button:hover{
	background: #000;
	color: #d9d9d9;
}

.bottom center{
	padding: 5px;
	font-size: 0.9375rem;
	background: #151515;	
}

.bottom center span{
	color: #fff;	
}